*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  } 
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
.container{
    background-color: black;
}
.nav{
    background: #333;
    width: 100%;
    height: 40px;
    position: fixed;
    text-align: center;
    font-size: 25px;
    z-index: 100;
}
.nav a{
    text-decoration: none;
    color: #f5f5f5;
    line-height: 40px;
}
.backgroud{
    width: 100%;
    background-image: url("pic/backgroud/bacgroud2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    animation: slide 30s  infinite;
}

@keyframes slide{
    20%{
        background-image: url("pic/backgroud/bacgroud2.jpg");
    }
    40%{
        background-image: url("pic/backgroud/bacgroud3.jpg");
    }
    60%{
        background-image: url("pic/backgroud/bacgroud4.jpg");
    }
    80%{
        background-image: url("pic/backgroud/bacgroud1.jpg");
    }
    100%{
        background-image: url("pic/backgroud/bacgroud2.jpg");
    }
}
.warpper{
    position: fixed;
    z-index: 10000;
    height: 700px;
    width: 100%;
    text-align: center;
}
.warpper .list{
    margin-bottom: 20px;
    position: relative;
    top: 70%;
    display: inline-block;
    list-style-type: none;
}
.list button{
    margin: 0 25px; 
    width: 100px;
    height: 35px;
    border-radius: 20px;
    border: none;
    transition: .5s;
}
.list button:hover{
    height: 45px;
    width: 120px;
    border-radius: 6px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: -5px;
    transform: translateY(-10px);
}
.list button a{
    text-decoration: none;
    color: honeydew;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn_iphone{
    border-style: ridge;
    background-image: linear-gradient(to right,#ffbf00,#ff7dc5);
}
.btn_macbook{
    border-style: ridge;
    background-image: linear-gradient(to right,#009cbe,#00e2f8);
}
.btn_ipad{
    border-style: ridge;
    background-image: linear-gradient(to right,#f136ff,#7225fc);
}
.btn_imac{
    border-style: ridge;
    background-image: linear-gradient(to right,#00f386,#cbe100);
}
.btn_airpods{
    border-style: ridge;
    background-image: linear-gradient(to right,#00c0ff,#bccaff);
}
@media (max-width: 1080px) {
    .warpper .list{
        top: 55%;
    }
}
